@import '../../../index.scss';

.modal {
  @include glass-grad;
  backdrop-filter: blur(20px);
  min-height: min(50%, 300px);
  height: max-content;
  width: clamp(250px, 400px, 90%);
  border-radius: 15px;
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;

  .close {
    background: #2c185b;
    color: $text-color;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    border: 0.5px solid #3c0576;
    outline: none;
    cursor: pointer;

    &:hover {
      background: #081e3a;
    }
  }
}